.centered {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 50%;
}

p {
    width: 75%;
    text-align: justify;
}